@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@media (max-width: 800px)
{
  .bodycontainer
   {
    flex-direction: column;
    justify-content: center;
   }
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  font-family: "MedievalSharp", cursive;
  overflow: auto;
  height: auto;
  width: auto;
}

body {
  background-image: url(../assets/backgrounds/milles-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
}

.character-info {
  margin: 30px;
  margin-left: 90px;
  width: 350px;
  height: 900px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.469);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(0 0 0.25rem rgba(92, 82, 239, 0.874));
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgb(122, 172, 228);
}

#profile-image {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-image: url(../assets/profilepictures/milles-profilepicture.jpg);
  background-size: cover;
  /* filter: drop-shadow(0 0 0.5rem rgba(122, 172, 228, 1)); */
  margin: 10px;
}

#divider {
  max-width: 300px;
}

.character-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-status canvas {
  padding: 5px;
}

.skills {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

canvas:hover {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
}

.text-title {
  font-weight: bolder !important;
}

.mana {
  color: #78a2c9;
}

.skill-table tr th,
.skill-table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

.skill-table {
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
  width: 100%;
  text-align: center;
  table-layout: fixed;
  background-color: #c4c4c4;
  font-family: "Roboto", sans-serif !important;
}

.name-column {
  width: 20%;
}
.cost-column {
  width: 20%;
}
.description-column {
  width: 60%;
}

.table-title {
  font-size: 96px;
  color: #e6e6e6;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.natures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  margin-top: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ligthning {
  filter: invert(87%) sepia(39%) saturate(762%) hue-rotate(333deg)
    brightness(85%) contrast(94%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
  border-radius: 50%;
  border: 3px solid;
  margin: 10px;
}

#radar-chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.divider {
  margin: 15px;
  filter: invert(84%) sepia(32%) saturate(4353%) hue-rotate(181deg)
    brightness(93%) contrast(93%) drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.6));
}

.lore-info p{
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(122, 172, 228);
}

.lore-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lore-text{
    color: rgb(255, 255, 255) !important;
}

.lore-info .text-title{
    margin: 0;
    padding: 0;
    line-height: 12px   ;
}

.bodycontainer{
    display: flex;
    justify-content: center;
}